<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="caminhoArquivoCor" value="Dados\Cor.txt"/>
    <add key="caminhoArquivoMarca" value="Dados\Marca.txt"/>
    <add key="caminhoArquivoModelo" value="Dados\Modelo.xlm"/>
    <add key="caminhoArquivoVeiculo" value="Dados\Veiculo.xlm"/>
  </appSettings>
</configuration>